<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestEsayAR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F1ADDC1ECD3EEA0012F617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F1ADF51ECD3EEA0012F617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F1AE001ECD3EEA0012F617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
